* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #f2e9e4;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #22223b, #4a4e69);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

nav {
    height: 10%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo {
    height: 70%;
}

.logo img {
    height: 100%;
}

ul {
    padding: 0;
    /* width: 600px; */
    text-align: center;
    display: flex;
}
li {
    position: relative;
    padding: 15px 0;
}
.navlinks a {
    color: #f2e9e4;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    /* padding: 15px 20px; */
    padding-bottom: 7px;
    margin: 15px 20px;
    position: relative;
}
.navlinks a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f2e9e4;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navlinks a:hover:after {
    width: 100%;
    left: 0;
}

.contact {
    padding: 0.8rem 1.5rem;
    background-color: #f2e9e4;
    border-radius: 5rem;
    color: #4a4e69;
    font-weight: 700;
    transition: all 0.2s;
}

.contact:hover {
    transform: translateY(-0.2rem);
    box-shadow: 2px 2px 5px rgba(242, 233, 228, 0.2);
}

.contact a {
    transition: all 0.2s;
}

.contact:hover a {
    color: #22223b;
}

.contact:active {
    transform: translateY(-0.1rem);
    box-shadow: 1px 1px 5px rgba(242, 233, 228, 0.2);
}

.header-content {
    margin: 0 8rem;
    display: flex;
    /* align-items: center; */
}

h1 {
    margin-top: 20vh;

    font-size: 3rem;
}

h1 span {
    margin: 1.5rem 0;
    font-size: 2rem;
    display: block;
    color: rgba(242, 233, 228, 0.5);
}

.header-content p {
    width: 90%;
    margin-bottom: 2rem;
}

.header-content img {
    margin-top: 10vh;
    height: 35rem;
}

.social-menu ul {
    /* position: absolute; */
    /* top: 60%;
    left: 9%; */
    padding: 0;
    margin: 0;
    /* transform: translate(-50%, -50%); */
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin-right: 20px;
}

.social-menu ul li .fab {
    font-size: 25px;
    line-height: 51px;
    transition: 0.3s;
    color: #000;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li a:hover .fab {
    color: white;
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #000;
}
